* {
    margin: 0;
    padding: 0;
}

.wrapper {
}

.menu {
    display: flex;
    justify-content: space-between;
}

.top__text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    width: 425px;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.contact {
    display: flex;
}
.card-box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
}

.submit-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.input-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}


.greeting {
    width: 495px;
}

.footer-top__header {
    width: 340px;
    text-align: left;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list__item {
    flex-grow: 1;
}

h1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
}

h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
